/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

h1 {
  @apply font-bold;
}

h2 {
  @apply text-xl font-bold leading-tight text-gray-800;
}

.hljs-comment,
.hljs-quote {
  @apply text-gray-500;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  @apply text-red-300;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  @apply text-orange-300;
}

.hljs-attribute {
  @apply text-yellow-300;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  @apply text-green-300;
}

.hljs-title,
.hljs-section {
  @apply text-blue-300;
}

.hljs-keyword,
.hljs-selector-tag {
  @apply text-purple-300;
}

.hljs {
  @apply block p-4 overflow-x-auto text-xs text-gray-200 bg-gray-800;
}

.hljs-emphasis {
  @apply italic;
}

.hljs-strong {
  @apply font-bold;
}
