/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.nuxt-link-active {
  @apply text-orange-500;
}

.fade-enter-active {
  @apply duration-300 ease-out;
}

.fade-leave-active {
  @apply duration-200 ease-in;
}

.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}

.fade-up-enter-active {
  @apply duration-300 ease-out;
}

.fade-up-leave-active {
  @apply duration-200 ease-in;
}

.fade-up-enter,
.fade-up-leave-to {
  @apply translate-y-4 opacity-0;
}

.slide-out-enter-active {
  @apply duration-500 ease-in-out;
}

.slide-out-leave-active {
  @apply duration-500 ease-in-out;
}

.slide-out-enter,
.slide-out-leave-to {
  @apply -translate-x-full opacity-0;
}

.slide-in-enter-active {
  @apply duration-500 ease-in-out;
}

.slide-in-leave-active {
  @apply duration-500 ease-in-out;
}

.slide-in-enter,
.slide-in-leave-to {
  @apply translate-x-full opacity-0;
}

.delay-leave-active {
  @apply duration-200 ease-in;
}

.cards-swipe-enter-active,
.cards-swipe-leave-active {
  @apply transition-all duration-500 ease-in-out;
}

.cards-swipe-enter {
  @apply translate-x-full opacity-0;
}

.cards-swipe-leave-to {
  @apply -translate-x-full opacity-0;
}

.cards-swipe-enter-to,
.cards-swipe-leave {
  @apply translate-x-0 opacity-100;
}

.spin-animation {
  @apply transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  @apply font-bold;
}

h2 {
  @apply text-xl font-bold;
}
